[include]
	path = ~/.gitprivate

[core]
	excludesFile = ~/.gitignore

[pager]
	branch = false

[color]
	ui = auto

[alias]
	st = status
	ci = commit --verbose
	co = checkout
	aa = add --all
	br = branch
	dfs = diff --staged
	branches = branch -a
	l = log --format='%Cblue%ad%Creset %C(yellow)%h%Creset %Cgreen%an%Creset%Cred%d%Creset %s' --date=iso8601
