@import "dmenu"

* {
    color-accent: @color-yellow;
}

#horibox {
    children: [ prompt, listview ];
}

#prompt {
    background-color: @color-accent;
    text-color: @color-bg;
}

#listview {
    lines: 1;
}

#element.selected {
    background-color: @color-bg;
    padding: @padding-all;
    text-color: @color-accent;
}
